body{
    margin: 0;
    padding: 0;
}

.navbar{
    background: #123e82;
    border-radius: 0;
    border: none;
}
.navbar .navbar-header .navbar-brand{
    color: yellow;
}

.panel .panel-heading{
    background: #123e82;
}